:root {
    --primary-weather-clr: #5c8ffd;
    --inp-btn-padding: .5rem 1rem;
    --weather-border-radius: 5px;
    --weather-padding: 1rem;
}

.weather {
    background-color: var(--primary-weather-clr);
    width: 100vw;
    height: 100vh;
    display: flex;
}
.weather-search-wrapper {
    background-color: #fff;
    height: 20%;
    width: 250px;
    /* padding: 1rem; */
    border-radius: var(--weather-border-radius);
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: column;
}
.weather-search-wrapper input {
    width: 100%;
    padding: var(--inp-btn-padding);
    border-radius: var(--weather-border-radius);
    border: 1px solid #dedede;
    text-align: center;
}
.weather-search-wrapper button {
    width: 100%;
    color: #fff;
    padding: var(--inp-btn-padding);
    background-color: var(--primary-weather-clr);
    border-radius: var(--weather-border-radius);
    border: transparent;

}
.weather-search-wrapper h4 {
    color: #5c8ffd;

}
.weather-search div {
    padding-inline: var(--weather-padding);
}
.weather-title {
    border-bottom: 1px solid #dddddd;
    flex: 1;
    display: flex;
    align-items: center;
    padding-inline: var(--weather-padding);
    padding-block: .3rem;
}
.weather-search-wrapper span {
    display: block;
    text-align: center;
    position: relative;
    color: #b4b4b4;
    margin-block: auto;
}
.weather-search-wrapper span::after {
    content: '';
    position: absolute;
    background-color: #dddddd ;
    height: 1px;
    top: calc(50% + 1px);
    left: 0;
    width: 43%;
}
.weather-search-wrapper span::before {
    content: '';
    position: absolute;
    background-color: #dddddd ;
    height: 1px;
    top: calc(50% + 1px);
    right: 0;
    width: 43%;
}
.weather-search {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}