* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


h1 {
  font-size: 60px;
  text-align: center;
}

.title {
  position: relative;
  /* -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2)); */
  /* font-size: 60px; */
  /* text-shadow: 0px 0px 10px #000; */
  /* animation: pulse 3s ease infinite alternate-reverse; */
}
.title span {
  position: relative;
  display: inline-block;
  color: #000;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.wrapper {
  width: min(100%, 75rem);
  display: grid;
  grid-auto-flow: row;
  gap: 1rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* height: 100vh; */
  animation: cool 5s ease-out infinite alternate-reverse;
  padding: 1rem;
}

@media (min-width: 900px) {
  .wrapper {
    grid-auto-flow: column;
  }
}

@keyframes pulse {
  0% {
    text-shadow: 0px -30px 1px #6d7500;
  }

  100% {
    text-shadow: 0px -30px 35px #6d7500;
  }

}

@keyframes cool {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

}