/*   GLOBAL STYLES   */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

